
.nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6rem;
        /* overflow: hidden; */
}
.black-bg{
        background: black;

}
.nav-items ul li{
        display: inline-block;
}
.nav-items ul li a{
        color: white;
        font-size: 1.6rem;
        padding: 1rem 1.5rem;
        transition: background 0.4s;
        border-radius: 5px;
}
.nav-items ul li a:hover{
        background: red;
}
.nav-items{
        padding: 0px;
}

.logo a img{
        height: 5rem;
        padding: 0;
        margin: 0;
}


@media screen and (max-width:700px) {
        .nav{
                flex-direction: column;
                height: 100px;
        }
        .nav-items ul li a{
                padding: 1rem 2rem;
                transition: background 0.4s;
        }


}


